<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: lightblue;
        margin: auto;
        padding: 4%;
      }
      .label {
        font-size: x-large;
      }
      input {
        width: 20%;
      }
      .flex {
        display: flex;
        flex-direction: column;
      }
      .btn {
        margin-top: 1%;
        width: 10%;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Form Page</h1>
    <form action="/post/form" method="post">
      <div class="flex">
        <label for="name" class="label">Name:</label>
        <input type="text" id="name" name="name" required /><br />
        <label for="email" class="label">Email:</label>
        <input type="email" id="email" name="email" required /><br />
        <!-- <input type="button" value="submit" class="btn" /> -->
        <button type="submit" value="submit" class="btn">submit</button>
      </div>
    </form>
  </body>
</html>
