<style>
  body {
    background-color: lightblue;
    margin: auto;
    padding: 4%;
  }
  .label {
    font-size: x-large;
  }
  input {
    width: 20%;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin-top: 1%;
    width: 10%;
    cursor: pointer;
  }
</style>
<h1>Form Page</h1>
<form action="/form" method="post" enctype="x-www-form-urlencoded">
  <div class="flex">
    <label for="name" class="label">Name:</label>
    <input type="text" />
    <label for="name" class="label">Email:</label>
    <input type="text" />
    <input type="button" value="submit" class="btn" />
  </div>
</form>
